 <div class="row">
  <div class="col-lg-12 text-center">
  <h1>About Me</h1>
  
  <div class="col-lg-12 text-left">
  <p class="lead">I knew my fascination with computers and a degree in MIS would help me land a job in information technology. 
  I fell in love with web design and development when I was engaged in a web development and design course at Christopher Newport University. 
  Web development and design allowed me to put forth my love for creating and building things. As a child I loved building things 
  using my imagination. I believe that this is why my ability to think outside the box is natural for me. Software Engineering 
  positions that I have had following college related to Process Improvement and Configuration Management which allowed me the 
  opportunity to develop and maintain documentation of processes, develop an organized approach to problem solving and excellent
  time management skills. Customer Service positions allowed me to develop customer relation skills. <br>
  Everyday is a chance to make a change, to embrace new beginnings. Each day brings a lesson to be learned and a lesson 
  learned at the endof the day. With each opportunity, I embrace this with continually improving myself both personally and 
  professionally. Continuing to learn and apply my skills on a daily basis is what gives me a great sense accomplishment and determination.
  while I am in search of emplolyment today in the IT industry, I still embrace the time to continually improve my skills.
  Below you will find a list of my current skills and knowledge as it applies to web development and design and the IDEs 
  I have been exposed to::</p>
  <div class="col-lg-4 text-left">
  <ul class="list-unstyled">
  <h4>Web Programming</h4>     
  <li>HTML5</li>
  <li>CSS3</li>
  <li>JavaScript</li>
  <li>Ruby on Rails</li>
  <li>JQuery</li>
 
  
  </p>
  
  </ul>
</div>

  </div>
 </div>