<div class="row">
  <div class="col-lg-9">

        <!-- Blog Post -->

<div class="jumbotron">
 
  <h1>About Me</h1>
 
  <p> I fell in love with web design and development when I was engaged in a web development and design course at Christopher
  Newport University. Web development and design allowed me to put forth my love for creating and building things. As a child
  I loved building things with Legos, Lincoln Logs, and of course climb trees. I believe that this is why my ability to think
  outside the box is natural for me. Software Engineering positions that I have had following college related to Process
  Improvement and Configuration Management which allowed me the opportunity to develop and maintain documentation of
  processes, develop an organized approach to problem solving and excellent time management skills;
  while Customer Service positions allowed me to develop Customer Relation skills</p>
</div>

       


    </div>

    <!-- Blog Sidebar Widgets Column -->
   <div class="col-md-3">
      
        <!-- Blog Categories Well -->

<br>
        <!-- Side Widget Well -->
        <div class="well">
          <br>
           <h4>Web Programming</h4>     
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Ruby on Rails</li>
            <li>jQuery</li>
          <h4>IDEs/Text Editors</h4>
            <li>Eclipse</li>
            <li>Cloud9</li>
            <li>Sublime Text 3</li>
            <li>CodePen</li>
           <h4>Version Contol Tools</h4>
           <li>Git/Github</li>
           <li>IBM Rational Clearcase</li>
          
           
         </div>

    </div>

</div>
<!-- /.row -->

<hr>
